@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
.header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  
  text-align: center;
  padding: 5px 10%;
}




.header .logo {
  cursor: pointer;
  display: inline-block;
}

.header .logo img {
  height: 50px;
  width: auto;
  max-width: 100%;
  
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}


.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}



.header .btn button {
  font-weight: 30;
  color: #1b3039;
  font-size: 16px;
  padding: 6px 12px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  
  height: 100vh;
  color: #fff;
  background: linear-gradient(
    45deg,
    rgb(53, 26, 133),
    rgb(30, 134, 141),
    rgb(144, 3, 147),
    rgb(0, 187, 28)
  );
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

main{
display: flex;
width: 100%;
height: 500px;
justify-content: center;
text-align: center;
}

section{

width: 40%;
height: 100%;
}

aside {
    width: 60%;
    height: 100%;
}
section #formularioProductos {
  padding-top: 20px;
  margin-top: 60px;
  
  justify-content: center;
  align-items: flex-start;
  
}

aside #panelResultados {
  

  width: 100%;
  height: 100%;
  display: flex;
}


#formularioProductos {
    background-color: #575757;
    padding: 20px;
    display: flex;
    padding-top: -100px;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: -20px 40px 20px; 
  }
  
  #eliminarProductos {
    background-color: #575757;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px 40px 20px; 
  }
  

  
#formularioDeudores {
  background-color: #575757;
  padding: 20px;
  display: flex;
  padding-top: -100px;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px 40px 20px; 
}

#eliminarDeudores {
  background-color: #575757;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px 40px 20px; 
}


.animacion-inicio {
  width: 100vw;
  height: 60vh;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.animacion-inicio .texto {
  text-align: center;
}

.animacion-inicio h1 {
  margin: 10px 0; 
}

.animacion-inicio .botones {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 20px; 
}

.animacion-inicio .botones a {
  text-decoration: none;
   margin: 0 10px;
}

.animacion-inicio .botones button {
  margin: 0; 
}


label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.deleteButton {
  background-color: #342626;
  color: #6b4e4e;
  padding: 10px 20px;
  border: none;
  padding-inline: 5px;
  border-radius: 9px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ff3333;
}

#list{
 width: 92%;
 display: flex;


}

#in3 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#in3:hover {
  background-color: #45a049;
}


#panelResultados {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    overflow: auto;
}

#tituloPro {
    text-align: center;
}

#tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabla-productos th,
#tabla-productos td {
    border: 1px solid #979797;
    padding: 8px;
    text-align: left;
}

#tabla-productos th {
    background-color: #464343;
}