 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg,rgb(53, 26, 133),rgb(30, 134, 141),rgb(144, 3, 147),rgb(0, 187, 28));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    overflow: hidden;
}


@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}

}

.form-login {

    max-width: 100%;
width: 400px;
background: #2a3b4b;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font: family 'calibri';
color: white;
box-shadow: 7px 13px 37px #000;


}

.form-login h5{

font-size: 22px;
margin-bottom: 20px;
text-align: center;

}

.controls{
width: 100%;
background:  #2a3b4b;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #1f53c5;
font-family: 'calibri';
font-size: 18px;

}

.form-login p{

height: 40px;
text-align: center;
font-size: 18px;

}

.form-login a {

color: white;
text-decoration: none;

}

.form-login a:hover {

    color: white;
    text-decoration: none;
    
    }

.form-login button {
   margin-bottom: 16px;
   display: flex;
   border: 0;
   background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
   border-radius: 8px;
   color: #fff;
   display: flex;   
   font-size: 18px;
   padding: 4px;
   align-items: center; 
   justify-content: center;
   cursor: pointer;
   transition: .3s;
}  

button span{

background-color: #2a3b4b;
padding: 16px 24px;
border-radius: 6px;
transition: .3s;
}

button:hover span{
    background: none;
}

button:active{
transform: scale(0.9);


}

.button-container {
    display: flex;
    justify-content: center;
}

.form-login #in2 {
    margin-bottom: 16px;
    display: flex;
    border: 0;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;   
    font-size: 18px;
    padding: 4px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition: .3s;
 }  